// default layout
.l{
	width: 100%;
	display: inline-block;
	&.l-main{
		background-color: #fff;
	}
	.l-col1{
		background-color: #fff;
		@include box-shadow(2px 2px 2px 0px rgba(0,0,0,.2));
		float:left;
		width: 74%;
	}

	.l-col2{
		float: left;
		width: 26%;
	}
}
